body {
	background-color: linen;
    
}

h1{
	color: #777f91;
    padding-top: 250px;
    padding-bottom: 0px;
	text-align: center;
    font-family: 'Cabin', sans-serif;
    font-size: 80px;
}

body{
    text-align: center;
}

form{
    padding-top: 0px;
}

input {
    
    border-radius: 10px;
    border-width: 1px;
    border-color: #777f91;
    border-style: solid;
    height: 30px;
    text-decoration: none;
    outline-width: 0;
    font-family: 'Cabin',sans-serif;
    width:350px;
    padding-left:10px;
}

#submitButton {
    
    width: 120px;
    height: 30px;
    
    background-color: white;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    text-decoration: none;
    outline: none;
    
    font-family: 'Cabin',sans-serif;
    font-size: 15px;
    color: #777f91;
    
    margin-right:30px;
}
#createButton {
    width: 120px;
    height: 30px;
    background-color: white;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    text-decoration: none;
    outline: none;
    
    font-family: 'Cabin',sans-serif;
    font-size: 15px;
    color: #777f91;
}

